<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Recipe</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/admin.css">
</head>
<body>
<div th:replace="header :: header"></div>

<main>
    <h2>Edit Recipe</h2>
    <form th:action="@{/admin/recipes/update/{id}(id=${recipe.id})}" th:object="${recipe}" enctype="multipart/form-data" method="post" class="form-container">
        <label for="name">Title:</label>
        <input type="text" id="name" th:field="*{name}" placeholder="Title" required>

        <label for="description">Description:</label>
        <textarea id="description" th:field="*{description}" placeholder="Description" required></textarea>

        <div>
            <label for="photo">Photo</label>
            <input type="file" id="photo" name="file"  accept="image/*" required>
        </div>

         <select id="chef" th:field="*{chef}">
            <option th:each="chef : ${chefs}" th:value="${chef}" th:text="${chef.firstName} + ' ' + ${chef.lastName}"></option>
        </select>

        <div id="ingredients">
            <div th:each="ingredient, iterStat : ${recipe.ingredients}" class="ingredient">
                <label th:for="'ingredientName' + ${iterStat.index}">Ingredient Name:</label>
                <input type="text" th:id="'ingredientName' + ${iterStat.index}" name="ingredientName" th:value="${ingredient.name}" placeholder="Ingredient Name" required>
                <label th:for="'ingredientQuantity' + ${iterStat.index}">Quantity:</label>
                <input type="text" th:id="'ingredientQuantity' + ${iterStat.index}" name="ingredientQuantity" th:value="${ingredient.quantity}" placeholder="Quantity" required>
            </div>
        </div>
        <button type="button" onclick="addIngredient()">Add Ingredient</button>

        <div class="action-links">
            <button type="submit" class="btn"><i class="fas fa-save"></i> Update</button>
            <a href="/recipes/list" class="btn btn-cancel"><i class="fas fa-times"></i> Cancel</a>
        </div>
    </form>
</main>

<footer>
    <p>&copy; 2024 Your Company. All rights reserved.</p>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
<script>
    let ingredientIndex = [[${#lists.size(recipe.ingredients)}]];
    function addIngredient() {
        ingredientIndex++;
        const ingredientsDiv = document.getElementById('ingredients');
        const newIngredientDiv = document.createElement('div');
        newIngredientDiv.classList.add('ingredient');
        newIngredientDiv.innerHTML = `
            <label for="ingredientName${ingredientIndex}">Ingredient Name:</label>
            <input type="text" id="ingredientName${ingredientIndex}" name="ingredientName" placeholder="Ingredient Name" required>
            <label for="ingredientQuantity${ingredientIndex}">Quantity:</label>
            <input type="text" id="ingredientQuantity${ingredientIndex}" name="ingredientQuantity" placeholder="Quantity" required>
        `;
        ingredientsDiv.appendChild(newIngredientDiv);
    }
</script>
</body>
</html>
