<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Crear Nuevo Empleado</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <h1>Crear Nuevo Empleado</h1>
    <form th:action="@{/employees}" th:object="${employee}" method="post">
        <label for="firstName">Nombre:</label>
        <input type="text" id="firstName" name="firstName" th:field="*{firstName}" required>
        <label for="lastName">Apellido:</label>
        <input type="text" id="lastName" name="lastName" th:field="*{lastName}" required>
        <label for="emailId">Email:</label>
        <input type="email" id="emailId" name="emailId" th:field="*{emailId}" required>
        <button type="submit">Guardar</button>
    </form>
</body>
</html>
