<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Eliminar Empleado</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
    <h1>Eliminar Empleado</h1>
    <p>¿Estás seguro de que deseas eliminar al empleado con ID: <span th:text="${employee.id}"></span>?</p>
    <form th:action="@{'/employees/delete/' + ${employee.id}}" method="post">
        <input type="hidden" name="_method" value="delete">
        <button type="submit">Eliminar</button>
        <a href="/employees">Cancelar</a>
    </form>
</body>
</html>
