<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar Empleado</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <h1>Editar Empleado</h1>
    <form th:action="@{'/employees/update/' + ${employee.id}}" th:object="${employee}" method="post">
        <input type="hidden" th:field="*{id}">
        <label for="firstName">Nombre:</label>
        <input type="text" id="firstName" name="firstName" th:field="*{firstName}" required>
        <label for="lastName">Apellido:</label>
        <input type="text" id="lastName" name="lastName" th:field="*{lastName}" required>
        <label for="emailId">Email:</label>
        <input type="email" id="emailId" name="emailId" th:field="*{emailId}" required>
        <button type="submit">Actualizar</button>
    </form>
</body>
</html>
