<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Chef Profile</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<div th:replace="header :: header"></div>

<div class="container">
    <h2>Edit Chef Profile</h2>
    <form th:action="@{/chefs/update/{id}(id=${chef.id})}" th:object="${chef}" method="post" enctype="multipart/form-data">
        <div>
            <label for="firstName">First Name</label>
            <input type="text" id="firstName" name="firstName" th:field="*{firstName}" required>
        </div>
        <div>
            <label for="lastName">Last Name</label>
            <input type="text" id="lastName" name="lastName" th:field="*{lastName}" required>
        </div>
        <div>
            <label for="dateOfBirth">Date of Birth</label>
            <input type="date" id="dateOfBirth" name="dateOfBirth" th:field="*{dateOfBirth}" required>
        </div>
        <div>
            <label for="email">Email</label>
            <input type="email" id="email" name="email" th:field="*{email}" required>
        </div>
        <div>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" th:field="*{username}" required>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
        </div>

        <div>
            <label for="photo">Photo</label>
            <input type="file" id="photo" name="file"  accept="image/*" >
        </div>

        <button type="submit">Update Profile</button>
    </form>
</div>

<footer>
    <p>&copy; 2024 SIW FOOD. All rights reserved.</p>
</footer>
</body>
</html>
