<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIW FOOD</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<header>
    <div class="container">
        <div class="logo">
            <h1>SIW FOOD</h1>
        </div>
        <nav>
            <ul>
                <li><a href="/">Homepage</a></li>
                <li><a href="/recipes">Recipes</a></li>
                <li><a href="/chefs">Chefs</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </nav>
    </div>
</header>
<main>
    <section class="hero">
        <h2>Search your recipes with the way you want</h2>
        <div class="actions">
            <a href="/recipes" class="btn">See all the Recipes</a>
            <a href="/chefs" class="btn">See all the Chefs</a>
        </div>
    </section>
</main>
<img th:src="@{/static/images/gemma.jpg}" alt="Chef Photo">

<footer>
    <p>&copy; 2024 SIW FOOD. All rights reserved.</p>
</footer>
</body>
</html>
