<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE html>
        <html xmlns:th="http://www.thymeleaf.org">
        <head>
        <meta charset="UTF-8">
        <title>Lista de Empleados</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<h1>Lista de Empleados</h1>
<a href="/employees/new">Crear Nuevo Empleado</a>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Email</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="employee : ${employees}">
        <td th:text="${employee.id}"></td>
        <td th:text="${employee.emailId}"></td>
        <td th:text="${employee.firstName}"></td>
        <td th:text="${employee.lastName}"></td>
        <td>
            <a th:href="@{'/employees/edit/' + ${employee.id}}">Editar</a>
            <a th:href="@{'/employees/delete/' + ${employee.id}}">Eliminar</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
</title>
</head>
<body>

</body>
</html>