<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Details</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
<!-- Header -->
<div th:replace="header :: header"></div>

<div class="container">
    <div class="recipe-details">
        <h1 th:text="${recipe.name}"></h1>
        <div class="recipe-rating">
                <span th:each="star : ${#numbers.sequence(1, 5)}">
                    <i th:class="${star <= recipe.rating} ? 'fas fa-star' : 'far fa-star'"></i>
                </span>
        </div>
        <div class="recipe-photo">
            <img th:src="${recipe.photo != null ? '/static/images/' + recipe.photo : '/static/images/recipe-generic.svg'}" alt="Recipe Photo">
        </div>
        <div class="recipe-description">
            <h2>Ingredients</h2>
            <ul>
                <li th:each="ingredient : ${recipe.ingredients}" th:text="${ingredient}"></li>
            </ul>
            <h2>Description</h2>
            <p th:text="${recipe.description}"></p>
        </div>
    </div>
</div>

<footer>
    <p>&copy; 2024 SIW FOOD. All rights reserved.</p>
</footer>
</body>
</html>
