<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Chef</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<div th:replace="header :: header"></div>
<main>
    <h2>Create New Chef</h2>
    <form th:action="@{/admin/chefs}" th:object="${chef}" method="post">
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" name="firstName" th:field="*{firstName}" required>
        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" name="lastName" th:field="*{lastName}" required>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" th:field="*{email}" required>
        <button type="submit">Create</button>
    </form>
</main>

</body>
</html>
