<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Chef</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<div th:replace="header :: header"></div>

 <main>
    <h2>Delete Chef</h2>
    <p>Are you sure you want to delete this chef?</p>
    <form th:action="@{/admin/chefs/delete/{id}(id=${chef.id})}" method="post">
        <p th:text="${chef.firstName} + ' ' + ${chef.lastName}"></p>
        <button type="submit">Delete</button>
    </form>
</main>
 </body>
</html>
