<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Chef</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/admin.css">
</head>
<body>
<div th:replace="header :: header"></div>

<main>
    <h2>Edit Chef</h2>
    <form th:action="@{/admin/chefs/update/{id}(id=${chef.id})}" th:object="${chef}" enctype="multipart/form-data" method="post" class="form-container">
        <div>
            <label for="firstName">First Name</label>
            <input type="text" id="firstName" name="firstName" th:field="*{firstName}" required>
        </div>
        <div>
            <label for="lastName">Last Name</label>
            <input type="text" id="lastName" name="lastName" th:field="*{lastName}" required>
        </div>
        <div>
            <label for="dateOfBirth">Date of Birth</label>
            <input type="date" id="dateOfBirth" name="dateOfBirth" th:field="*{dateOfBirth}" required>
        </div>
        <div>
            <label for="email">Email</label>
            <input type="email" id="email" name="email" th:field="*{email}" required>
        </div>
        <div>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" th:field="*{username}" required>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
        </div>

        <div>
            <label for="photo">Photo</label>
            <input type="file" id="photo" name="file" th:field="*{photo}" accept="image/*">
        </div>
        <div class="action-links">
            <button type="submit" class="btn"><i class="fas fa-save"></i> Update</button>
            <a href="/admin/chefs" class="btn btn-cancel"><i class="fas fa-times"></i> Cancel</a>
        </div>
    </form>
</main>

<footer>
    <p>&copy; 2024 Your Company. All rights reserved.</p>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
</body>
</html>
